.main {
  text-align: center;
  margin-top: 200px;
}

.countDown {
  display: table;
  margin: 0 auto;
}

.countDown div {
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  font-size: 100pt;
}

.active {
  color: #ffffff;
}

.inactive {
  color: #ca2334;
}