.main {
  text-align: center;
  margin-top: 200px;
  color: #ffffff;
  min-height: 600px;
}

.countDown {
  display: table;
  margin: 0 auto;
}

.countDown div {
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  font-size: 100pt;
}

.active {
  color: #ffffff;
}

.inactive {
  color: #ca2334;
}

@media screen and (max-height: 720px) {
  .sticky {
    position: relative !important;
    top: 100px;
  }
}

.footer {
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 40px;
  font-size: 16pt;
}

.footer a {
  color: #ffffff;
}