.main {
  text-align: center;
}

.countDown {
  display: table;
  border-radius: 4%;
  margin: 0 auto;
  width: 200px;
  min-height: 300px;
  background-color: #ffffff;
  margin-top: 300px;
}

.countDown div {
  display: table-cell;
  vertical-align: middle;
  font-weight: 900;
  font-size: 48pt;
}

.active {
  color: #265B49;
}

.inactive {
  color: #ca2334;
}